<div class="flex justify-center">
  <div class="card shadow-sm mt-8">
    <h4>Create worker</h4>

    <form class="mt-3" [formGroup]="form" (ngSubmit)="submitForm()">
      <fieldset>
        <label>Name *</label>
        <input
          focus
          type="text"
          class="input-outline w-full"
          formControlName="name"
          placeholder="Worker name"
          required
        />
        <div class="text-xs pb-2 pt-2 text-red">
          <form-error [control]="form.get('name')"></form-error>
        </div>
      </fieldset>

      <fieldset>
        <label>Description</label>
        <textarea class="input-outline w-full" formControlName="desc" placeholder="Description"> </textarea>
        <div class="text-xs pb-2 text-red">
          <form-error [control]="form.get('desc')"></form-error>
        </div>
      </fieldset>

      <fieldset>
        <label>Language</label>
        <select class="input-outline w-full" formControlName="language" required>
          <option>typescript</option>
          <option>javascript</option>
        </select>
      </fieldset>

      <fieldset class="mt-8">
        <button class="btn-outline" type="submit" [disabled]="form.touched && form.invalid">Submit</button>
      </fieldset>

      @if (errorMessage) {
        <div class="text-xs text-red mt-4">
          {{ errorMessage }}
        </div>
      }
    </form>
  </div>
</div>
