@if (control && control.errors && control.touched) {
  @for (error of errors; track error) {
    <div>
      @if (error.name === ErrorName.Required) {
        This field is required
      }
      @if (error.name === ErrorName.Email) {
        This field must be a valid email
      }
      @if (error.name === ErrorName.Min) {
        This field must be at least {{ error.min }}
      }
      @if (error.name === ErrorName.Max) {
        This field must be at most {{ error.max }}
      }
      @if (error.name === ErrorName.MinLength) {
        This field must be at least {{ error.requiredLength }} characters
      }
      @if (error.name === ErrorName.MaxLength) {
        This field must be at most {{ error.requiredLength }} characters
      }
      @if (error.name === ErrorName.Visible) {
        This field must not contain invisible characters or newlines
      }
      @if (error.name === ErrorName.VisibleBlock) {
        This field must not contain invisible characters
      }
      @if (error.name === ErrorName.KebabCase) {
        This field must be a valid kebab-case string (e.g. "my-worker")
      }
      @if (error.name === ErrorName.NameExists) {
        Name already taken
      }
    </div>
  }
}
