@if (user$ | async; as user) {
  @if (menuActive$ | async; as menuActive) {
    <nav class="main-nav border-b">
      <div class="nav-content">
        <div class="flex gap-8 flex-1">
          <!-- Logo -->
          <div class="flex flex-col min-w-max uppercase justify-center text-4xl font-extrabold">
            <div class="flex gap-2 flex-1 p-4">
              <a routerLink="/" href="/">
                <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.46 283.46">
                  <path
                    class="fill-black dark:fill-white"
                    d="m205.14,205.14l-95.11-95.12,31.71-31.71,63.41,63.41,63.38-63.39C245.26,31.89,197.22,0,141.73,0S38.21,31.89,14.94,78.34l95.09,95.1-31.7,31.7L.71,127.52c-.47,4.67-.71,9.41-.71,14.21,0,78.28,63.46,141.73,141.73,141.73s141.73-63.46,141.73-141.73c0-4.8-.24-9.54-.71-14.21l-77.62,77.62Z"
                  />
                </svg>
              </a>
            </div>
          </div>
          <!-- Menu -->
          <div class="flex gap-4 mb-[-1px]">
            <!-- Workers -->
            <a class="menu-item" routerLink="/workers" [ngClass]="{ active: menuActive === 'workers' }"> Workers </a>
            <!-- Environments -->
            <a class="menu-item" routerLink="/environments" [ngClass]="{ active: menuActive === 'environments' }">
              Environments
            </a>
            <!-- Databases -->
            <a class="menu-item" routerLink="/databases" [ngClass]="{ active: menuActive === 'databases' }">
              Databases
            </a>
            <!-- KV -->
            <a class="menu-item" routerLink="/kv-namespaces" [ngClass]="{ active: menuActive === 'kv' }"> KV </a>
            <!-- Storage -->
            <a class="menu-item" routerLink="/storage-configs" [ngClass]="{ active: menuActive === 'storage' }">
              Storage
            </a>
          </div>
        </div>
        <div class="flex gap-4 items-center">
          <div class="menu-item">
            <app-theme-switch class="flex"></app-theme-switch>
          </div>
          <a routerLink="/account" [ngClass]="{ active: menuActive === 'account' }">
            @if (user.avatarUrl) {
              <img class="rounded-full w-8 min-h-8" [src]="user.avatarUrl" [alt]="user.username" />
            } @else {
              <ng-icon name="heroUser" class="w-8 h-8" />
            }
          </a>
        </div>
      </div>
    </nav>
  }
}

<main>
  <router-outlet></router-outlet>
</main>
