/* Shared height offset: main header (4rem + 1px border) + editor nav (~3rem) */
:host {
  --header-offset: 7rem;
  display: block;
  height: calc(100vh - 4rem); /* Full height minus main header */
}

.code-editor {
  display: block;
  width: 100%;
  height: calc(100vh - var(--header-offset));
}

.mh-full {
  min-height: 100%;
}

/* Right panel - same height as editor */
.right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.right-panel-content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

/* Drag line */
div[draggable] {
  position: relative;
  user-select: none;

  /* Select button attached to line */
  & > div::before {
    @apply border border-dotted;
    border-right: none; /* No right border */
    border-radius: 0.25rem 0 0 0.25rem; /* round left border */

    background-image: url(/assets/ellipsis.double.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 16px 16px;

    cursor: ew-resize;
    content: '';
    position: absolute;
    top: 0.5rem;
    right: 4px;
    width: calc(1rem - 2px);
    height: 2rem;
  }

  &.dragActive > div::before,
  &:hover > div::before {
    /* background: var(--border-color); */
    /* @apply bg-blue border-solid border-blue; */
    @apply border-solid;
    border-right: none;
    background-color: var(--bg-btn-hover);
  }

  &.dragActive > div,
  &:hover > div {
    @apply border-l-2; /* border-blue */
  }
}
