@switch (editing) {
  @case (true) {
    <form class="flex flex-row items-center" (submit)="$event.preventDefault(); submit()">
      <input
        style="height: unset"
        class="border-none p-0"
        [ngClass]="class"
        [placeholder]="placeholder"
        #input
        type="text"
        [formControl]="control"
        [minlength]="1"
        required
      />
      <ng-icon [ngClass]="class" class="clickable ml-1" name="heroCheckCircle" (click)="submit()" />
    </form>
  }
  @case (false) {
    <div class="flex flex-row items-center">
      @if (control.value; as value) {
        <span>{{ value }}</span>
      } @else {
        <i class="font-light"><ng-content></ng-content></i>
      }
      <ng-icon [ngClass]="class" class="clickable ml-1" name="heroPencilSquare" (click)="editing = true" />
    </div>
  }
}
