ul {
  background-color: var(--input-bg);
}

li {
  input {
    /* background-color: transparent; */
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--input-border);
  }

  &.deleted {
    input {
      background-color: transparent;
    }

    text-decoration: line-through 1px #434343;
  }

  &.secret {
    /* background-color: white; */
  }

  &.binding {
    opacity: 0.7;
  }
}
